@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Kdam+Thmor+Pro&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Kdam+Thmor+Pro&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* SECTION 0: HEADER */

header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 240px;
  background-color: #272d34dd;
  /* background-color: #1111ff67; */
  z-index: 2;
}

.logo {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.logo-img {
  width: 40%;
  height: auto;
}

.logo-text {
  color: #ffffff;
  font-size: 2rem;
}

.logo-text:hover {
  color: #cdba6d;
}

nav {
  width: 60%;
}

ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  font-size: 1.1rem;
  color: #ffffff;
}


li:hover {
  color: #cdba6d;
  cursor: pointer;
}

#search-icon {
  color: #ffffff;
  cursor: pointer;
}

#search-icon:hover {
  color: #cdba6d;
}

#menu-icon {
  display: none;
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}


/* SECTION 1: MODAL + HOME */

.modal {
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
}

.home-container {
  background-image: url('../media/pictures/background.jpg');
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.presentation-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 150px;
  padding: 10px;
  color: #ffffff;
  z-index: 1;
}

.presentation-container h3 {
  letter-spacing: 10px;
  font-weight: 300; 
}

.presentation-container h1 {
  font-size: 5rem;
  text-align: center;  
}

.presentation-container span {
  color: #cdba6d;
}

.presentation-container p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.presentation-container button {
  width: 150px;
  height: 50px;
  background-color: #cdba6d;
  color: #000000;
  font-weight: 500;
  border: 2px solid #c8b050;
  font-size: 1rem;
  cursor: pointer;
}

.presentation-container button:hover {
  background-color: transparent;
  color: #ffffff;
}

.modal, .home-container {
  height: 110vh;
}

/* SECTION 2: DESTAKS */

.destaks-container {
  top: 90vh;
}

.destaks-container {
  width: 100%;
  height: 400px;
  padding: 0 100px;
  position: absolute;
}

.destaks-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  color: #ffffff;
  padding: 0 110px;
}

#square-1 {
  background-color: #353e47;
}

#square-2 {
  background-color: #323a43;
}

#square-3 {
  background-color: #2e353d;
  /* padding: 0 100px; */
}

#square-1 i {
  color: #c8b050;
  font-size: 3rem;
}

#gavel-icon {
  font-size: 3rem;
}

#square-3 i {
  color: #c8b050;
  font-size: 3rem;
}

#destaks-span-gold {
  color: #c8b050;
}

.divider {
  border: none;
  border-top: 3px solid #c8b050;
  border-radius: 20px;
  margin: 10px 0;
  width: 45%;
}

#divider-white {
  border-top: 3px solid #ffffff;
}

.destaks-span {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.destaks-paragraph {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}


/* SECTION 3: WELCOME & SIGNATURE*/

.welcome-container {
  width: 100%;
  /* height: 90vh; */
  margin-top: 40vh;
  /* padding: 5vh 0; */
  /* position: relative;
  top: 40vh; */
}

.signature-container {
  width: 100%;
  /* height: 100%; */
  /* margin-top: 5vh; */
  display: flex;
}

.signature-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: end; */
}

.signature-text {
  width: 70%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  padding: 0 10px;
  margin-bottom: 90px;
}

.signature-title {
  width: 100%;
}

.signature-title h1 {
  font-size: 2.5rem;
  color: #cdba6d;
}

.signature-title h5 {
  font-weight: 300;
  letter-spacing: 3px;
}

.signature-text span {
  font-weight: bold;
}

.signature-text p {
  text-align: justify;
}

.signature-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signature-button-container button {
  width: 150px;
  height: 50px;
  background-color: #cdba6d;
  color: #000000;
  font-weight: 500;
  border: 2px solid #c8b050;
  font-size: 1rem;
  cursor: pointer;
}

.signature-button-container button:hover {
  background-color: transparent;
}

.signature-button-container img {
  width: 100px;
  height: auto;
}

.attorney-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
}

.attorney-img {
  margin-left: 50px;
}


/* SECTION 4: OUR SERVICES*/

.our-services-container {
  width: 100%;
  height: 90vh;
  background-color: #323a43;
  display: flex;
  flex-direction: column;
}

.our-services-title {
  height: 30%;
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-services-title h2 {
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #ffffff;
}

.our-services-title h1 {
  margin: 0;
  font-size: 3.5rem;
  color: #c8b050;
}

.our-services-content {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 120px;
  margin-top: 30px;
}

#our-services-divider {
  width: 5%;
}

.our-services-square {
  display: flex;
  width: 100%;
  height: 200px;
}

.our-services-icon {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.our-services-text {
  width: 85%;
  height: 100%;
  padding: 20px 40px 0 10px;
}

#service-icon {
  color: #c8b050;
  font-size: 3rem;
}

#service-icon:hover {
  color: #ffffff;
  cursor: pointer;
}

.service-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.service-title:hover {
  color: #c8b050;
  cursor: pointer;
}

.service-description {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
}


/* SECTION 5: TESTIMONIALS */

.testimonials-container {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
}

.testimonials-title {
  height: 30%;
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials-title h2 {
  color: #5c6f85;
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 6px;
  font-weight: 500;
}

.testimonials-title h1 {
  margin: 0;
  font-size: 3.5rem;
  color: #c8b050;
}

.testimonials-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 600px;
  padding: 0 120px;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 10px 40px 40px 40px;
  background-color: #f8f8f9;
  box-shadow: -1px 5px 7px 0 rgba(0,0,0,0.15);
}

.testimonial-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}

#testimony-icon {
  font-size: 3rem;
  color: #c8b050;
  opacity: 0.5;
}

.testimony {
  text-align: center;
  color: #5c6f85;
  font-size: 1.2rem;
  font-style: italic;
}

.testimonial-name {
  font-size: 1.5rem;
  color: #2e353d;
}

.testimonial-profession {
  font-size: 1.3rem;
  color: #c8b050; 
}

#testimonial-1 {
  background-image: url('../media/pictures/testimonials01.jpg');
}

#testimonial-2 {
  background-image: url('../media/pictures/testimonials02.jpg');
}

#testimonial-3 {
  background-image: url('../media/pictures/testimonials03.jpg');
}


/* SECTION 6: FORM */

.form-container {
  width: 100%;
  height: 150vh;
  display: flex;
}

.form-img {
  background-image: url('../media/pictures/banner1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  width: 50%;
  height: 100%;
}

.form-content {
  background-color: #323a43;
  width: 50%;
  height: 100%;
  padding: 120px 80px 60px 80px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.form-title {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-title h2 {
  margin: 0;
  font: 1.3rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #ffffff;
}

.form-title h1 {
  margin: 0;
  font-size: 3.5rem;
  color: #c8b050;
}

#form-divider {
  width: 15%;
  margin-top: 20px;
}

.form-description {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}

.form-input {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.first-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input-container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 49%;
}

.user-input {
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  color: #2e353d;
  padding: 0 10px;
  border: none;
  outline: none;
}

#user-phone-input {
  margin-top: 10px;
  width: 100%;
}

#user-message-input {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

#user-message {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  resize: none;
  font-size: 1.1rem;
  color: #2e353d;
  padding: 10px;
  border: none;
  outline: none;
}

.submit-button {
  width: 175px;
  height: 60px;
  background-color: #c8b050;
  color: #2e353d;
  font-weight: 500;
  border: 2px solid #cdba6d;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 60px;
}

.submit-button:hover {
  background-color: transparent;
  color: #ffffff;
}


/* SECTION 7: FOOTER*/

footer {
  width: 100%;
  height: 100vh;
  background-color: #323a43;
  padding: 220px 140px 80px 140px;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.about-text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}

.about-text h2 {
  color: #c8b050;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 700;
}

.about-text p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 2;
}

.social-media {
  display: flex;
  column-gap: 20px;
}

.social-media i {
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
}

#facebook-icon:hover {
  color: #007bff;
}

#telegram-icon:hover {
  color: #17a2b8;
}

#linkedin-icon:hover {
  color: #007bff;
}

#instagram-icon:hover {
  color: #e83e8c;
}

#youtube-icon:hover {
  color: #dc3545;
}

.theme-posts {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.theme-posts h2 {
  color: #c8b050;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 700;
  margin-bottom: 40px;
}

.posts {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  display: flex;
}

.post-img {
  width: 20%;
  height: auto;
}

.post-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 80px 0 10px;
}

.post-content p {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
}

.post-content p:hover {
  color: #c8b050;
}

.post-date {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 15px;
}

#clock-icon {
  color: #c8b050;
}

.post-date span {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
}


/* SECTION 8: COPYRIGHT */

.copyright {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright span {
  letter-spacing: 6px;
  color: #2e353d;
  font-size: 0.9rem;
}

/* ################################################# */
/* ##############   MEDIA QUERIES   ################ */
/* ################################################# */



/* << 415 <> 600 <> 768 <> 835 <> 1024 <> 1280 <> 1440 >> */



/* ################################################ */
/* #################   MAX 1440  ################## */
/* ################################################ */
/* 1280 <> 1440 */

@media (max-width: 1440px) {

  /* SECTION 0: HEADER */
  header nav {
    width: 65%;
  }
  /* SECTION 1: MODAL & HOME */
  .modal, .home-container {
    height: 110vh;
  }

  /* SECTION 2: DESTAKS */
  .destaks-container {
    top: 90vh;
  } 

  .destaks-content {
    height: 40vh;
  }

  .content {
    padding: 0 90px;
  }

  
  /* SECTION 3: WELCOME & SIGNATURE*/
  .welcome-container {
    margin-top: 30vh;
  }


  /* SECTION 4: OUR SERVICES*/
  /* SECTION 5: TESTIMONIALS */

  .testimonials-cards-container {
    padding: 0 100px;
  }

  /* SECTION 6: FORM */
  /* SECTION 7: FOOTER*/
  footer {
    padding: 220px 60px 80px 60px;
  }


  .about-text, .theme-posts {
    width: 45%;
  }

  .post-content {
    padding: 0 55px 0 10px;
  }

  /* SECTION 8: COPYRIGHT */

}

/* ################################################ */
/* #################   MAX 1280  ################## */
/* ################################################ */
/* 1024 <> 1280 */

@media (max-width: 1280px) {

  /* SECTION 0: HEADER */
  header {
    padding: 0 40px;
  }

  header nav {
    width: 55%;
  }

  /* SECTION 1: MODAL & HOME */
  .presentation-container {
    width: 70%;
  }

  /* SECTION 2: DESTAKS */
  
  .destaks-container {
    top: 90vh;
    padding: 0 60px;
  } 

  .destaks-content {
    height: 40vh;
  }

  .content {
    padding: 0;
  }

  /* SECTION 3: WELCOME & SIGNATURE*/
  /* SECTION 4: OUR SERVICES*/
  .our-services-content {
    padding: 0 40px;
  }

  /* SECTION 5: TESTIMONIALS */
  .testimonials-cards-container {
    padding: 0 110px;
  }

  /* SECTION 6: FORM */
  .form-content {
    padding: 80px 30px;
  }

  /* SECTION 7: FOOTER*/
  footer {
    padding: 80px 30px;
  }

  .posts {
    margin: 40px 0;
  }
  
  /* SECTION 8: COPYRIGHT */

}

/* ################################################# */
/* #################   MAX 1024  ################### */
/* ################################################# */
/* 835 <> 1024 */

@media (max-width: 1024px) {

  /* SECTION 0: HEADER */
  header nav {
    width: 65%;
  }

  /* SECTION 0: HEADER */
  /* SECTION 1: MODAL & HOME */
  /* SECTION 2: DESTAKS */
  .destaks-container {
    padding: 0 20px;
  }

  #square-1, #square-2, #square-3 {
    padding: 0 25px;
  }

  /* SECTION 3: WELCOME & SIGNATURE*/
  .welcome-container {
    /* height: 90vh; */
  }

  .signature-container {
    height: 100%;
    padding: 0;
  }

  .signature-content {
    /* height: max-content; */
  }

  .signature-text {
    width: 80%;
    margin-bottom: 0;
  }

  .attorney-container {
    /* display: flex;
    align-items: end; */
    height: 100%;
    width: 45vw;
  }

  .attorney-img {
    width: 45vw;
    margin-left: 10px;
  }

  /* SECTION 4: OUR SERVICES*/

  .our-services-content {
    padding: 0 20px;
    height: 80vh;
  }

  #service-icon {
    font-size: 2.4rem;
  }

  .our-services-text {
    padding: 0 10px;
    /* width: 22vw; */
    width: 80%;
  }

  /* SECTION 5: TESTIMONIALS */
  .testimonials-cards-container {
    padding: 0 50px;
  }

  /* SECTION 6: FORM */
  .form-content {
    padding: 120px 20px 60px 20px;
  }

  /* SECTION 7: FOOTER*/
  /* SECTION 8: COPYRIGHT */

}


/* ################################################ */
/* #################   MAX 835  ################### */
/* ################################################ */
/* 768 <> 835 */

@media (max-width: 835px) {

  /* SECTION 0: HEADER */
  nav {
    display: none;
  }

  #menu-icon {
    display: block;
  }

  /* SECTION 1: MODAL & HOME */
  .home-container {
    background-position: 70% 50%;
    align-items: center;
  }

  .presentation-container {
    width: 90%;
    margin-top: 0;
  }

  /* SECTION 2: DESTAKS */
  .destaks-container {
    padding: 0 40px;
    top: 120vh;
  }

  .destaks-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    row-gap: 10px;
  }

  .content {
    height: 300px;
    row-gap: 10px;
    padding: 0 20px;
  }

  /* SECTION 3: WELCOME & SIGNATURE*/
  .welcome-container {
    margin-top: 125vh;
    /* height: 120vh; */
  }

  .signature-container {
    /* height: max-content; */
  }

  .signature-text {
    width: 90%;
    height: 30%;
    row-gap: 30px;
    padding: 0 10px;
  }

  .attorney-container {
    height: 70vh;
    align-items: end;
  }

  .attorney-img {
    margin-left: 10px;
    width: 90%;
  }

  /* SECTION 4: OUR SERVICES*/
  .our-services-container {
    /* margin-top: 100px; */
    height: max-content;
  }

  .our-services-content {
    grid-template-columns: repeat(2, 1fr);
  }

  /* SECTION 5: TESTIMONIALS */
  .testimonials-container {
    height: 110vh;
  }

  .testimonials-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #card-1 {
    display: none;
  }

  #card-2 {
    display: none;
  }

  /* SECTION 6: FORM */
  .form-container {
    flex-direction: column;
    height: max-content;
  }

  .form-img {
    height: 30%;
    width: 100%;
  }

  .form-content {
    width: 100%;
    height: 70%;
    padding: 120px 40px 60px 40px;
    row-gap: 30px;
  }

  /* SECTION 7: FOOTER*/
  footer {
    padding: 20px 40px 0 40px;
    height: 180vh;
  }

  .footer-content {
    flex-direction: column;
    justify-content: space-between;
    height: 150vh;
  }

  .about-text {
    width: 100%;
    height: 40%;
  }

  .theme-posts {
    width: 100%;
    height: 45%;
  }

  .post-content {
    padding: 0 140px 0 10px;
  }

  /* SECTION 8: COPYRIGHT */
}


/* ################################################ */
/* #################   MAX 768  ################### */
/* ################################################ */
/* 600 <> 768 */

@media (max-width: 768px) {

  /* SECTION 0: HEADER */
  /* SECTION 1: MODAL & HOME */
  .modal, .home-container {
    height: 100vh;
  }

  .home-container {
    align-items: flex-start;
    padding-top: 170px;
  }

  /* SECTION 2: DESTAKS */
  .destaks-container {
    top: 110vh;
  }

  /* SECTION 3: WELCOME & SIGNATURE*/
  .welcome-container {
    /* align-items: end; */
    /* height: 140vh; */
    /* align-items: flex-start; */
  }

  .signature-container {
    align-items: end;
  }

  .signature-text {
    /* height: max-content; */
    padding-bottom: 2vh;
  }

  .attorney-img {
    margin-left: 0;
    /* margin-left: 50px; */
  }

  .signature-content {
    width: 45%;
  }

  .attorney-container {
    width: 55%;
  }


  /* SECTION 4: OUR SERVICES*/
  /* SECTION 5: TESTIMONIALS */
  /* SECTION 6: FORM */
  /* SECTION 7: FOOTER*/
  footer {
    height: 100vh;
  }

  /* SECTION 8: COPYRIGHT */
}

/* ################################################ */
/* #################   MAX 600  ################### */
/* ################################################ */
/* 415 <> 600 */

@media (max-width: 600px) {

  /* SECTION 0: HEADER */
  /* SECTION 1: MODAL & HOME */
  .modal, .home-container {
    height: 115vh;
  }

  .presentation-container {
    height: max-content;
  }

  .presentation-container h3 {
    /* font-size: 3rem; */
    text-align: center;
  }

  .presentation-container h1 {
    font-size: 3.6rem;
  }

  /* SECTION 2: DESTAKS */
  .destaks-container {
    top: 120vh;
    padding: 0 4vh;
  }

  /* SECTION 3: WELCOME & SIGNATURE*/
  .welcome-container {
    padding: 0 2vh;
  }

  .signature-container {
    /* height: 270vh; */
  }

  .signature-container {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    /* justify-content: end; */
  }

  .signature-content {
    width: 95%;
    /* justify-content: center; */
    align-items: center;
  }

  .attorney-container {
    width: 95%;
    height: 30%;
    justify-content: center;
    align-items: center;
  }

  .attorney-img {
    width: auto;
  }

  /* SECTION 4: OUR SERVICES*/
  .our-services-container {
    padding: 0 1vh;
    height: 140vh;
  }

  .our-services-title {
    padding: 10vh 0 2vh 0;
    text-align: center;
  }
  
  .our-services-content {
    padding: 0;
    height: 100%;
    column-gap: 10px;
    row-gap: 20px;
  }

  .our-services-square {
    height: 100%;
  }

  .our-services-icon {
    width: max-content;
  }

  .our-services-icon i {
    font-size: 1.1rem;
  }

  .our-services-text {
    width: 90%;
    /* padding: 20px 10px 0 10px; */
  }

  /* SECTION 5: TESTIMONIALS */
  /* SECTION 6: FORM */
  /* SECTION 7: FOOTER*/
  /* SECTION 8: COPYRIGHT */
}


/* ################################################ */
/* #################   MAX 415  ################### */
/* ################################################ */
/* 0 << 415 */

@media (max-width: 415px) {
  /* SECTION 0: HEADER */
  /* SECTION 1: MODAL & HOME */
  /* SECTION 2: DESTAKS */
  /* SECTION 3: WELCOME & SIGNATURE*/
  /* SECTION 4: OUR SERVICES*/
  /* SECTION 5: TESTIMONIALS */
  /* SECTION 6: FORM */
  /* SECTION 7: FOOTER*/
  /* SECTION 8: COPYRIGHT */
}




/* SECTION 0: HEADER */
/* SECTION 1: MODAL & HOME */
/* SECTION 2: DESTAKS */
/* SECTION 3: WELCOME & SIGNATURE*/
/* SECTION 4: OUR SERVICES*/
/* SECTION 5: TESTIMONIALS */
/* SECTION 6: FORM */
/* SECTION 7: FOOTER*/
/* SECTION 8: COPYRIGHT */

